@charset "UTF-8";
/********************************************************************************************/
/* Utitilites-------------------------------------------------------------------------------*/
/* заготовки препроцессора, функции, миксы и тд                                             */
/********************************************************************************************/
/********************************************************************************************/
/* Base-------------------------------------------*/
/* шрифты, базовые значения для тегов и дефолтные стили Дарвин студии                       */
/********************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic");

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    -webkit-text-size-adjust: 100%;
    max-height: 999999px;
}

p {
    margin: 0 0 7px 0;
    font-size: 12px;
    line-height: 16px;
    color: #484848;
    letter-spacing: 0.4px;
    text-align: left;
}

a {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #484848;
    letter-spacing: 0.2px;
}

h2 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #484848;
    font-weight: 700;
    margin: 25px 0 30px 0;
}

img {
    border: none;
}

ul, li, ol {
    font-size: 12px;
    line-height: 16px;
    color: #484848;
    letter-spacing: 0.4px;
    text-align: left;
}

li {
    margin: 0 0 2px 0;
}

ul, ol {
    margin: 0 0 7px 0;
    padding: 0 0 0 18px;
}

/********************************************************************************************/
/* Layout------------------------------------------*/
/* тут храни стили основной сетки                                                           */
/********************************************************************************************/
.layout-wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
}

.layout-header {
    display: block;
}

.layout-main {
    display: block;
    font-size: 0;
}

.layout-sidebar {
    display: block;
}

.layout-content {
    display: block;
}

.layout-footer {
    display: block;
}

.interior_page .layout-main {
    padding: 0 0 70px 0;
}

/********************************************************************************************/
/* Module------------------------------------------*/
/* все смысловые блоки в макете                                                             */
/********************************************************************************************/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    padding: 0 24px;
    max-width: 1080px;
    margin: 0 auto;
}

.catalogue__tabs {
    width: 100%;
}

.catalogue__tab {
    display: none;
}

.catalogue__tab:checked + label {
    color: #008489;
    border-bottom: 2px solid #008489;
}

.catalogue__tab#catalogue__tab1:checked ~ #catalogue__content-tab1,
  .catalogue__tab#catalogue__tab2:checked ~ #catalogue__content-tab2,
  .catalogue__tab#catalogue__tab3:checked ~ #catalogue__content-tab3,
  .catalogue__tab#catalogue__tab4:checked ~ #catalogue__content-tab4 {
    display: block;
}

.catalogue__tab-label {
    display: inline-block;
    margin: 0 24px 20px 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding: 12px 0;
    color: #484848;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.catalogue__tab-label:hover {
    color: #008489;
    border-bottom: 2px solid #008489;
}

.catalogue__content-tabs {
    display: none;
    padding: 20px 0;
    border-top: 1px solid #e4e4e4 !important;
}

.catalogue__items {
    margin: 0 -2% 2% 0;
    font-size: 0;
}

.catalogue__items.-square {
    margin: 0 -2% 2% 0;
}

.catalogue__items.-square .catalogue__item-image {
    max-height: 198px;
}

.catalogue__item {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin: 0 2% 2% 0;
}

.catalogue__item.-square {
    width: 18%;
    margin: 0 2% 2% 0;
}

.catalogue__item-name {
    margin: 7px 0;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 15px;
}

.catalogue__item-name a {
    font-size: 15px;
    line-height: 18px;
    display: inline;
    text-decoration: none;
}

.catalogue__item-image {
    width: 100%;
    max-height: 370px;
    overflow: hidden;
    position: relative;
}

.catalogue__item-image img {
    max-width: 100%;
    display: block;
}

.catalogue__item-image a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.catalogue__item-price, .catalogue__item-author {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #484848;
    letter-spacing: 0.2px;
    display: inline;
}

.catalogue__item-author a {
    font-weight: 700;
}

.catalogue__item-rating {
    display: block;
    margin: 10px 0;
}

.catalogue__item-rating a {
    font-size: 12px;
    line-height: 16px;
    color: #484848;
    letter-spacing: 0.4px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.catalogue__item-stars {
    font-size: 0;
    margin: 0 -3px 0 0;
}

.catalogue__item-star {
    display: inline-block;
    vertical-align: middle;
    color: #008489;
    font-size: 12px;
    height: 16px;
    margin: 0 3px 0 0;
    width: 12px;
}

.catalogue .caption-overlay {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px 5px;
}

.catalogue .caption-tag a {
    font-size: 12px;
    line-height: 16px;
    color: #484848;
    display: inline-block;
    vertical-align: top;
    padding: 0 6px;
    border-radius: 3px;
    background: #fff;
    margin: 0 0 5px 0;
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 900;
}

.catalogue .caption-heading a {
    font-size: 21px;
    font-weight: 900;
    line-height: 21px;
    color: #fff;
    text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    width: auto;
    height: auto;
    text-decoration: none;
}

/********************************************************************************************/
/* Themes                                                                                   */
/********************************************************************************************/
