@charset "UTF-8";
/********************************************************************************************/
/* Utitilites-------------------------------------------------------------------------------*/
/* заготовки препроцессора, функции, миксы и тд                                             */
/********************************************************************************************/
/********************************************************************************************/
/* Base-------------------------------------------*/
/* шрифты, базовые значения для тегов и дефолтные стили Дарвин студии                       */
/********************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 22px;
    -webkit-text-size-adjust: 100%;
    max-height: 999999px;
}

p {
    margin: 0 0 13px 0;
    font-size: 15px;
    line-height: 22px;
    color: #1e1e1e;
    text-align: left;
}

a {
    text-decoration: none;
    color: #ef0d17;
    font-size: 15px;
    line-height: 22px;
    border-bottom: 1px solid #fab6b9;
}

a:hover {
    border-bottom: 1px solid transparent;
}

h1 {
    font-weight: 300;
    color: #000000;
    font-size: 49px;
    line-height: 54px;
    margin: 48px 0 26px 0;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

h2 {
    font-weight: 300;
    color: #000000;
    font-size: 38px;
    line-height: 43px;
    margin: 40px 0 22px 0;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

h3 {
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    line-height: 33px;
    margin: 35px 0 13px 0;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

img {
    border: none;
}

ul, li, ol {
    font-size: 15px;
    line-height: 22px;
    color: #1e1e1e;
    text-align: left;
}

li {
    margin: 0 0 5px 0;
}

ul, ol {
    margin: 0 0 13px 0;
    padding: 0 0 0 18px;
}

table {
    border: 1px solid #1e1e1e;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 55px 0;
}

table th {
    border: 1px solid #1e1e1e;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
    color: #1e1e1e;
    text-align: left;
    font-weight: 300;
}

table td {
    border: 1px solid #1e1e1e;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
    color: #1e1e1e;
    text-align: left;
    font-weight: 300;
}

button[type="submit"] {
    cursor: pointer;
    outline: none;
    font-family: 'Lato', sans-serif;
    border-radius: 2px;
    background: -webkit-linear-gradient(45deg, #ec0303 0%, #b40303 100%);
    background: linear-gradient(45deg, #ec0303 0%, #b40303 100%);
    width: 172px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    margin: 0;
}

button[type="submit"]:hover {
    background: -webkit-linear-gradient(-45deg, #ec0303 0%, #b40303 100%);
    background: -webkit-linear-gradient(135deg, #ec0303 0%, #b40303 100%);
    background: linear-gradient(-45deg, #ec0303 0%, #b40303 100%);
}

input[type=text],
input[type=email],
input[type=tel] {
    padding: 0 17px;
    margin: 0 0 15px 0;
    width: 100%;
    box-shadow: none !important;
    box-sizing: border-box;
    background: none;
    border: 0;
    outline: none;
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.302);
    border-radius: 2px;
    height: 48px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

input[type=text]:focus, input[type=text]:active,
  input[type=email]:focus,
  input[type=email]:active,
  input[type=tel]:focus,
  input[type=tel]:active {
    background: #ffffff;
    color: #000000;
}

input[type=text]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
}

input[type=text]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=tel]::-moz-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
}

input[type=text]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
}

textarea {
    padding: 15px 17px;
    margin: 0 0 15px 0;
    width: 100%;
    box-shadow: none !important;
    box-sizing: border-box;
    background: none;
    border: 0;
    outline: none;
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.302);
    border-radius: 2px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    line-height: 22px;
    width: 100%;
    height: 100px;
}

textarea::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    line-height: 22px;
}

textarea::-moz-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    line-height: 22px;
}

textarea:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    line-height: 22px;
}

textarea:focus, textarea:active {
    background: #ffffff;
    color: #000000;
}

/********************************************************************************************/
/* Layout------------------------------------------*/
/* тут храни стили основной сетки                                                           */
/********************************************************************************************/
.layout-wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
}

.layout-header {
    display: block;
}

.layout-main {
    display: block;
    font-size: 0;
}

.layout-sidebar {
    display: block;
}

.layout-content {
    display: block;
}

.layout-footer {
    display: block;
}

.interior_page .layout-main {
    padding: 0 0 70px 0;
}

/********************************************************************************************/
/* Module------------------------------------------*/
/* все смысловые блоки в макете                                                             */
/********************************************************************************************/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    padding: 0 24px;
    max-width: 1080px;
    margin: 0 auto;
}

.catalogue__tabs {
    width: 100%;
}

.catalogue__tab {
    display: none;
}

.catalogue__tab:checked + label {
    color: #008489;
    border-bottom: 2px solid #008489;
}

.catalogue__tab#catalogue__tab1:checked ~ #catalogue__content-tab1,
  .catalogue__tab#catalogue__tab2:checked ~ #catalogue__content-tab2,
  .catalogue__tab#catalogue__tab3:checked ~ #catalogue__content-tab3,
  .catalogue__tab#catalogue__tab4:checked ~ #catalogue__content-tab4 {
    display: block;
}

.catalogue .catalogue__tab-label {
    display: inline-block;
    margin: 0 24px 0 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding: 12px 0;
    color: #484848;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.catalogue .catalogue__tab-label:hover {
    color: #008489;
    border-bottom: 2px solid #008489;
}

.catalogue__content-tabs {
    display: none;
    padding: 20px 0;
}

/********************************************************************************************/
/* Themes                                                                                   */
/********************************************************************************************/
