body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    -webkit-text-size-adjust: 100%; 
    max-height: 999999px;
  }

p {
  margin: 0 0 7px 0;
  font-size: 12px;
  line-height: 16px;
  color: #484848;
  letter-spacing: 0.4px;
  text-align: left;  
}

a { 
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #484848;    
    letter-spacing: 0.2px;
}

h2 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #484848;
  font-weight: 700;
  margin: 25px 0 30px 0;
}

img {
  border: none; }

  
ul, li, ol{ 
  font-size: 12px;
  line-height: 16px;
  color: #484848;
  letter-spacing: 0.4px;
  text-align: left;    
}

li {
  margin: 0 0 2px 0;
}

ul, ol {
     margin: 0 0 7px 0;
     padding: 0 0 0 18px;
}